{% extends "../support_base_en.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div id="topbar">
	<div id="leftnav">
		<a href="/support_en/index"><img alt="home" src="/images/home.png" /></a>
    <a href="/support_en/whatsnew">What's New'</a>
  </div>
 	<div id="rightnav">
    <a href="/support_en/schedule">Schedule</a>
  </div>

	<div id="title"></div>
</div> <!-- end topbar -->

<div id="content">
 <br>
	<span class="graytitle">About this app</span>
	<ul class="pageitem">
		<li class="textbox">
		  MrAdmin is super simple viewer for easy reading 4 panel web comic from @IT.
      And "Mr.Admin" is very famous web comic in Japan's IT engineers.
		</li>
	</ul>

  <span class="graytitle">About Mr.Admin from <a href="http://www.atmarkit.co.jp/fwin2k/itpropower/admin-kun-en/index/index.html">@IT</a></span>
  <ul class="pageitem">
    <li class="textbox">
      Deep inside the labyrinth of modern Tokyo, nestled somewhere in the sprawl of neon, instant noodles, and kimono-clad denizens, in a building that knows no fire code standards, toiling away around the clock stands one man: the system administrator. Waging a never-ending battle, the "Sys Admin" strikes terror into the hearts of computer viruses, makes short work of scheduled data back-ups, and understands complex technologies so that his superiors won't have to.<br>
      <br>
      "Mr. Admin" is the English version of Japan's "Ganbare! Admin-kun" weekly four-panel web comic. Stories usually revolve around the IT staff at an unnamed company in a shabby building somewhere in Tokyo. Though most of the recurring characters have proper names, the persevering main character is known only as "Mr. Admin."
      This is a glimpse into the world of IT workers in Japan. Enjoy!    </li>
  </ul>

	<span class="graytitle">Features</span>
	<ul class="pageitem">
		<li class="textbox">
		<ul>
			<li>Super simple user interface.</li>
			<li>Automatic update newly comic information with startup this app.</li>
      <li>The comic downloaded once is saved in a built-in data base. 
      Then you can enjoy see the comic again even in the place of where internet can't be used for you.。</li>
      <li>You can choose newly arrived order and old order of the serial list display. </li>
		</ul>
		</li>
	</ul>

	<span class="graytitle">Note about this app</span>
	<ul class="pageitem">
		<li class="textbox">
		<ul>
      <li>
        <font color="darkred">
          In this version this app can see only Japanese contents. You'll be able to see contents of English version when futures release.
        </font>
      </li>
			<li>
			  The author has all the responsibilities concerning the operation of this app. 
        Report concerning this app to author of all because of relating and not existing in ITmedia Ltd and Digital Advantage Corp of contents offerer at all, please.<br>
        Contact to author in MrAdmin app, please. (The function to transmit mail in the app is provided. )
      </li>
			<li>
			  The copyright of this app belongs to the author. The copyright of contents to which 'Mr. admin' relates belongs to Digital Advantage Corp.<br>
        This app obtained and produced the permission of the contents use.<br>
			</li>
		</ul>
		</li>
	</ul>

	<span class="graytitle">Requirements</span>
	<ul class="pageitem">
		<li class="textbox">
      OS: iPhoneOS 3.0 or later<br>
      Device：Any iPhone and iPod Touch<br>
		</li>
	</ul>

	<span class="graytitle">Support Language</span>
	<ul class="pageitem">
		<li class="textbox">
      Language： Japanese, English (See 'Note about this app')<br>
		</li>
	</ul>

 	<span class="graytitle"></span><ul class="pageitem">
   <!--
	<li class="textbox">
	<p>Here are some example&#39;s of things you can achieve building with iWebKit 4:</p>
	</li>
   -->
    
	<li class="menu">
     <a href="about_author">
       <span class="name">About Author</span>
       <span class="arrow"></span>
     </a>
   </li>

</div>  <!-- end content -->

{% endblock %}
