{% extends "../support_base_en.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="topbar">
	<div id="leftbutton">
    <a class="noeffect" href="http://www.itunes.com/app/Adminkun">AppStore</a>
  </div>
  
 	<div id="rightnav">
    <a href="/support_en/whatsnew">What's New</a>
  </div>
	<div id="title"></div>
</div>

<div id="content">
	<ul class="pageitem">
		<li class="textbox">
      <center><img alt="changelog" src="/pictures/adminkun.png" />
      <span class="header">Mr.Admin Viewer Support Site</span></center>
      <p>
        <font size="2">
          This site is support site of Mr.Admin Viewer iPhone app. 
          Please use Safari browser on iPhone/iPodTouch or PC.<br>
          日本語は<a href="/support/">こちらへ</a>。
        </font>
      </p>
		</li>
    
		<li class="menu">
      <a href="/support_en/whatsnew">
        <span class="name">What's New</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="/support_en/about">
        <span class="name">About this App</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="/support_en/schedule">
        <span class="name">Schedule</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="/support_en/screenshots">
        <span class="name">Screenshots</span>
        <span class="arrow"></span>
      </a>
    </li>

<!-- 今後入れるか検討する
		<li class="menu">
      <a href="recommend_app.html">
        <span class="name">おすすめアプリ</span>
        <span class="arrow"></span>
      </a>
    </li>
-->
	</ul>

	<span class="graytitle">Links</span>
  <ul class="pageitem">

    <li class="menu">
      <a href="http://www.atmarkit.co.jp/fwin2k/itpropower/admin-kun-en/index/index.html">
        <span class="name">Mr.Admin (English Edition)</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="http://www.atmarkit.co.jp/fwin2k/itpropower/admin-kun/index/">
        <span class="name">Mr.Admin (Japanese Edition)</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="http://corp.itmedia.co.jp/corp/information/">
        <span class="name">ITmedia Inc.</span>
        <span class="arrow"></span>
      </a>
    </li>
    
		<li class="menu">
      <a href="http://www.d-advantage.jp/">
        <span class="name">Digital Advantage Corp.</span>
        <span class="arrow"></span>
      </a>
    </li>
	</ul>
</div>
{% endblock %}
