<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/pictures/homescreen.png" rel="apple-touch-icon" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script src="/javascript/functions.js" type="text/javascript"></script>
<title>Adminkun Support Site</title>
<meta content="iPod,iPhone,Webkit,iWebkit,Website,Create,mobile,Tutorial,free" name="keywords" />
<meta content="アドミンくんビューワはシンプルな「がんばれ！アドミンくん」を閲覧するアプリです" name="description" />
</head>

<body>

<div id="topbar">
	<div id="title">
		アドミンくんビューワ</div>
  <!--
	<div id="leftbutton">
		<a href="http://iwebkit.net">PC website</a>
  </div>
  -->
</div>
<div id="content">
	<ul class="pageitem">
		<li class="textbox">
      <img alt="changelog" src="/pictures/adminkun.png" />
      <span class="header">Adminkun Support Site</span>
      <p><font size="2">当サイトは「アドミンくんビューワ」のサポートサイトです。PCのブラウザでも閲覧できますが、iPhoneのブラウザに最適化しております。</font></p>
		</li>
    
		<li class="menu">
      <a href="whatsnew.html">
        <span class="name">最新情報</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="about.html">
        <span class="name">本アプリについて</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="schedule.html">
        <span class="name">今後の予定</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="screenshots.html">
        <span class="name">スクリーンショット</span>
        <span class="arrow"></span>
      </a>
    </li>

<!--
		<li class="menu">
      <a href="recommend_app.html">
        <span class="name">おすすめアプリ</span>
        <span class="arrow"></span>
      </a>
    </li>
-->
	</ul>

	<span class="graytitle">関連リンク</span>
  <ul class="pageitem">
		<li class="menu">
      <a href="http://www.atmarkit.co.jp/fwin2k/itpropower/admin-kun/index/">
        <span class="name">がんばれ！ アドミンくん</span>
        <span class="arrow"></span>
      </a>
    </li>

		<li class="menu">
      <a href="http://corp.itmedia.co.jp/corp/information/">
        <span class="name">アイティメディア</span>
        <span class="arrow"></span>
      </a>
    </li>
    
		<li class="menu">
      <a href="http://www.d-advantage.jp/">
        <span class="name">デジタルアドバンテージ</span>
        <span class="arrow"></span>
      </a>
    </li>
	</ul>
</div>
<div id="footer">
	<a href="http://iwebkit.net">Powered by iWebKit</a></div>
</body>
</html>
