{% extends "../support_base_en.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="topbar">
	<div id="leftnav">
		<a href="/support_en/index"><img alt="home" src="/images/home.png" /></a>
    <a href="/support_en/about">About this app</a>
  </div>
   	<div id="rightnav">
    <a href="/support_en/screenshots">Screenshots</a>
  </div>
	<div id="title"></div>
</div>
<div id="content">
	<span class="graytitle">Schedule and addtional function<br>
    <br>
  </span>
  
 	<ul class="pageitem">
 		<li class="textbox">
     <span class="header"></span>
   <font size="-1">
   追加の機能については、ユーザの皆様のご要望を伺いながら、最も必要とされる機能から順次追加していきたいと思います。
   作者としましては、次の機能追加を検討しています。</font><br>
		</li>
  </ul>

  
  
	<ul class="pageitem">
		<li class="textbox">
		<ul>
			<li>push notification of new article</li>
      <li>read/unread</li>
      <li>favorit</li>
      <li>Read available see English version</li>
		</ul>
		</li>
	</ul>
  
</div>
{% endblock %}
