{% extends "../support_base_en.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="topbar">
	<div id="leftnav">
		<a href="/support_en/index"><img alt="home" src="/images/home.png" /></a>
  </div>
 	<div id="rightnav">
    <a href="/support_en/about">About this app</a>
  </div>

	<div id="title"></div>
</div>

<div id="content">

	<span class="graytitle">2009/10/24</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>Now on Sale on the AppStore! \(^^)/.</li>
      </ul>
		</li>
	</ul>

	<span class="graytitle">2009/10/20</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>2009/10/20 I got 'Ready for Sale' ;).</li>
        <li>Mr.Admin will start on sale at 2009/10/24</li>
      </ul>
		</li>
	</ul>

	<span class="graytitle">2009/10/01</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>Coming soon...</li>
      </ul>
		</li>
	</ul>
</div>
{% endblock %}
