{% extends "../support_base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="topbar">
	<div id="leftnav">
		<a href="/support/index"><img alt="home" src="/images/home.png" /></a>
    <a href="/support/schedule">今後の予定</a></div>
</div>

<div id="content">
	<div class="graytitle">起動直後</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot1.png" width="280">
		</li>
	</ul>

	<div class="graytitle">旧着順で表示</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot2.png" width="280">
		</li>
	</ul>

	<div class="graytitle">詳細画面１</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot3.png" width="280">
		</li>
	</ul>

	<div class="graytitle">詳細画面２</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot4.png" width="280">
		</li>
	</ul>

	<div class="graytitle">About画面</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot5.png" width="280">
		</li>
	</ul>

	<div class="graytitle">サポートページ</div>
	<ul class="pageitem">
		<li class="textbox">
      <img src="/pictures/screenshot6.png" width="280">
		</li>
	</ul>

</div>
{% endblock %}
