{% extends "../support_base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="topbar">
	<div id="leftnav">
		<a href="/support/index"><img alt="home" src="/images/home.png" /></a>
  </div>
 	<div id="rightnav">
    <a href="/support/about">本アプリについて</a>
  </div>

	<div id="title"></div>
</div>

<div id="content">

	<span class="graytitle">2009/10/24</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>無事にAppStoreに掲載されましたが、新着リリース欄にはまだ掲載されていません。「アドミン」等のキーワードで検索してみてください。</li>
      </ul>
		</li>
	</ul>

	<span class="graytitle">2009/10/20</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>2009/10/20（火）に無事審査を通過しました。</li>
        <li>2009/10/24（土）よりAppStoreにて販売開始予定です。</li>
      </ul>
		</li>
	</ul>

	<span class="graytitle">2009/10/07</span>
	<ul class="pageitem">
		<li class="textbox">
      <ul>
        <li>リジェクトされないことを祈りつつ、Ver1.0.0をAppStoreへ申請手続き中です。</li>
      </ul>
		</li>
	</ul>
</div>
{% endblock %}
