!!! XML
!!! Strict

%html
  %head
    %title layout1
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"main.css"}

    
  %body
    != yield
    

//  %hr
  
//  Layout1